body {
    background-color: beige;
    background: url(https://img.freepik.com/free-vector/blooming-sunflower-frame_53876-94115.jpg?t=st=1740467959~exp=1740471559~hmac=9b0cd12747e667ede8d54d2d2f36a3c5f4a809a9303e13166d5c93a54470bb29&w=1380);
    background-size: cover;
    background-repeat: no-repeat;

}

